@import "../layout/colors.scss";

.container {
  max-width: 800px;
  margin: auto;
  padding: 0px 48px 0px;
}
@media(max-width: 450px) {
  .container {
    padding: 0px 16px 0px;
  }
}

// Title + Date (+ ggf. tags)
.head {
  margin: 100px 0px 50px;
}
@media(max-width: 600px) {
  .head {
    margin: 60px 0px 20px;
  }
}

.heading {
  color: $ternary;
  font-size: 48px;
}
@media(max-width: 600px) {
  .heading {
    font-size: 28px;
  }
}

.date {
  color: $ternary;
  font-weight: bold;
  opacity: 0.5;
}

.chip {
  padding-top: 20px;
}

.wordpressContent h1,
.wordpressContent h2,
.wordpressContent h3,
.wordpressContent h4 {
  color: $ternary;
  margin: 60px 0px 20px;
}
@media(max-width: 600px) {
  .wordpressContent h1,
  .wordpressContent h2,
  .wordpressContent h3,
  .wordpressContent h4 {
    margin: 60px 0px 20px;
  }
}

.wordpressContent p {
  color: $ternary;
  font-size: 1.2rem;
  padding-bottom: 16px;
}

@media(max-width: 450px) {
  .wordpressContent p {
    font-size: 1rem;
  }
}

.wordpressContent a {
  background: linear-gradient(
      to bottom, $ternary 0%,
      $ternary 50%
    );
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 4px 2px;
  color: $ternary;
  text-decoration: none;
  transition: background-size .5s, color .5s .2s;
}

.wordpressContent a:hover {
  color: $primary;
  background-size: 4px 50px;
}

.wordpressContent hr {
  padding: 32px;
}

.back {
  @extend .wordpressContent;
}

.container hr {
  margin: 60px 0 3px;
}

.released {
  text-align: center;
  font-size: 14px;
  color: $secondary;
  opacity: 0.7;
}

.postImage {
  transition: all .5s;
  border-radius: .5rem;
}

.postImage:hover {
  filter: brightness(50%);
  transition: all .5s;
}