@import "../layout/colors.scss";

.post {
  border-radius: 20px;
  box-shadow: 5px 5px 10px lightgrey;
}

.textBlock {
  padding: 20px;
}

.textBlock h2 {
  color: $secondary;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  -ms-word-break: break-all;
  word-break: break-word;
}

.textBlock h3 {
  font-weight: normal;
  font-size: 16px;
  color: rgb(165, 165, 165);
  padding: 4px 0px 8px;
}

.chip {
  margin: 4px 4px 0px 0px;
}

.textBlock a {
  background: linear-gradient(
      to bottom, $ternary 0%,
      $ternary 100%
    );
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 4px 2px;
  color: $secondary;
  text-decoration: none;
  transition: background-size .5s, color .5s .2s;
}

.textBlock a:hover {
  color: $primary;
  background-size: 4px 50px;
}

.coverimage:hover {
  filter: brightness(50%);
  transition: all .5s;
}