@import "./colors.scss";

.footer{
  padding: 32px 48px 30px;
  background-color: $ternary;
  color: $primary;
}

.container {
  display: flex;
  margin: auto;
  max-width: 1280px;
}

// Social media icons in top bar
.socialContainer {
  margin: auto;
  display: flex;
  align-content: center;
}

.icon {
  height: 26px;
  margin-left: 12px;
}

.icon:hover {
  opacity: 0.6;
}
