// Specific elements that cannot be referenced with css modules 
// (e.g. generated items in blog posts)

@import "./colors.scss";

.wp-block-image {
  margin-top: 12px;
  margin-bottom: 24px;
  font-size: 1rem;
  color: $ternary;
  text-align: center;
}

.wp-block-image img {
  width: 100%;
}

.wp-block-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1;
  list-style-type: none;
  padding-inline-start: 0;
  gap: 1rem;
  margin: 20px 0px;
  font-size: 1rem;
  color: $ternary;
  text-align: center;
}
.wp-block-gallery img {
  max-width: 100%;
}
.blocks-gallery-item figure a {
  background: $primary;
}

.wp-block-gallery figure {
  margin: 0;
}

@media(max-width: 500px) {
  .wp-block-image figcaption {
    font-size: 13px;
  }
  .wp-block-gallery figcaption {
    font-size: 13px;
  }
}

.embed-container {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}

.embed-container iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}