// var
$primary: white;
$secondary: #a3cde6;
$background: black;
$overlay: #225470;

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
}

.heroHeader {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
}

.title {
  color: $primary;
  text-decoration: none;
}

nav{
  position: absolute;
  float: right;
  z-index: 2;
  top: 0;
  width: 100%;
  overflow: hidden;
  background-color: rgba(255, 255, 255, .1);

.socialContainer{
  margin: auto;
  display: flex;
  align-content: center;
}

.icon{
  height: 26px;
  margin-left: 12px;
}

.navList {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  padding-inline-start: 0;
  z-index: 2;
  overflow: hidden;
  margin: 26px 50px 26px;
  max-width: 1800px;
}

.navItem {
  font-size: 1.1rem;
  color: $primary;
  text-decoration: none;
  transition: all 0.3s ease 0s;
  margin-left: 25px;
}

.navItem:hover {
  color: $secondary;
}

.navItem:active {
  color: $secondary;
}

.fullscreenVideoWrap{
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.fullscreenVideoWrap video {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  overflow: hidden;
}

@media screen and (max-aspect-ratio: 1280/720) {
  .fullscreenVideoWrap > video {
    height: 100%;
  }
}

@media screen and (min-aspect-ratio: 1280/720) {
  .fullscreenVideoWrap > video {
    width: 100%;
  }
}

.headerOverlay {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: $overlay;
  z-index: 1;
  opacity: 0.7;
}

.headerContent{
  display: flex;
  flex-direction: column;
  z-index: 2;
  margin-left: auto;
  margin-right: auto;
}

.headerContent h1{
  margin-bottom: 0;
}

.headerContent p{
  display: block;
  text-align: center;
  color: $primary;
}

@media screen and (min-width: 960px){
  .headerContent h1{
    font-size: 52px;
  }
  .headerContent p{
    font-size: 24px;
  }
}

@media screen and (max-width: 960px){
  .headerContent h1{
    font-size: 36px;
  }
  .headerContent p{
    font-size: 20px;
  }
}