@import "colors.scss";

* {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh; 
  min-height: 100%;
  max-width: 100%;
  flex-grow: 2;
  margin: auto;
  background-color: #fff;
}

// header + body (w/o footer, for sticky footer)
.content {
  flex: 1;
}

.section {
  padding: 50px 10px 50px;
}

@media(max-width: 450px) {
  .section {
    padding: 30px 10px 30px;
  }
}

.contentWrap {
  max-width: 1280px;
  margin: auto;
}

.contentWrap h2 {
  padding: 100px 0px;
  width: 100%;
  text-align: center;
  font-size: 52px;
  color: $ternary;
}

@media (max-width: 450px) {
  .contentWrap h2 {
    font-size: 32px;
    padding: 30px 0px;
  }
}

.question {
  width: 100%;
  text-align: center;
  font-size: 24px;
  font-weight: normal;
}

.contentText {
  columns: 2;
  column-gap: 2em;
  font-size: 18px;
}

.contentText p {
  margin-bottom: 10px;
}

@media (max-width: 500px) {
  .contentTitle {
    font-size: 39px;
    padding: 60px 0px;
  }
  .contentText {
    columns: 1;
    font-size: 16px;
  }
}

.centered {
  display: flex;
  justify-content: center;
}

.button {
  padding: 15px 50px;
  margin: 30px 0px;
  border-radius: 25px;
  border: none;
  font-size: 1.2rem;
  font-weight: bold;
  color: $primary;
  background-color: $ternary;
  cursor: pointer;
}
.button:hover {
  background-color: $secondary;
  transition: 0.5s;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -10px;
  transition: 0.5s;
}
.button:hover span {
  padding-right: 20px;
}
.button:hover span:after {
  opacity: 1;
  right: 0;
}

.featureContainer {
  display: flex;
  max-width: 1280px;
  margin-bottom: 50px;
  padding: 40px 50px;
}

@media (max-width: 550px) {
  .featureContainer {
    padding: 10px;
    margin-bottom: 0px;
  }
}

@media (max-width: 450px) {
  .featureContainer {
    padding: 0px 0px 0px;
    margin-bottom: 0px;
  }
}

.feature {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.card {
  margin: 10px;
  height: 100%;

  border-radius: 25px;
  background-color: $primary;
}

.featuresTitle {
  padding: 40px 0px 30px !important;
  width: 100%;
  text-align: center;
  font-size: 52px;
  color: $primary !important;
}

.featureContainer h3 {
  font-size: 42px;
  margin: 80px 0px 8px;
}

@media (max-width: 450px) {
  .featureContainer h3 {
    margin-top: 40px;
    font-size: 28px;
  }
}

.featureContainer h4 {
  font-weight: normal;
  font-size: 18px;
  margin: 0px 0px 26px;
}

.featureContainer p {
  margin: 0px 0px 70px;
  padding: 10px;
}

@media (max-width: 450px) {
  .featureContainer p {
    font-size: 14px;
    margin-bottom: 30px;
  }
}

.disciplines {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 28px;
}

@media(max-width: 500px) {
  .disciplines {
    grid-template-columns: 1fr;
  }
}

.discipline {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

.discipline h3 {
  font-size: 30px;
  color: $ternary;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media(max-width: 500px) {
  .discipline h3 {
    text-align: center;
  }
}

.discipline p {
  display: inline-block;
  margin-bottom: 10px;
}

.sideFacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  color: $primary;
  margin-right: 50px;
  margin-bottom: 50px;
  padding: 20px;
}

.sideFacts h2 {
  padding: 0px 0px 40px;
  width: 100%;
  text-align: center;
  font-size: 52px;
  color: $primary;
}

.sideFacts p {
  font-size: 20px;
  font-weight: normal;
  padding: 16px;
}

.factsContainer {
  display: flex;
  max-width: 1280px;
  margin-bottom: 30px;
  padding: 20px 50px;
}

@media (max-width: 1280px) {
  .sideFacts {
    margin-right: 0px;
  }
}
@media (max-width: 550px) {
  .sideFacts h2 {
    font-size: 30px;
    padding-bottom: 10px;
  }
  .factsContainer {
    padding: 0px 0px;
    margin-bottom: 0px;
  }
  .sideFacts p {
    font-size: 16px;
    padding-bottom: 50px;
  }
}

.fact {
  padding: 0px 0px 0px;
  width: 100%;
  text-align: center;
  font-size: 52px;
}

.card2 {
  margin: 10px;

  border-radius: 25px;
  background-color: $primary;
}

.fact h3 {
  padding-top: 30px;
  font-size: 36px;
}

.fact h4 {
  padding-bottom: 30px;
  font-weight: normal;
  font-size: 16px;
}

@media (max-width: 450px) {
  .fact h3 {
    font-size: 26px;
  }

  .fact h4 {
    font-size: 13px;
  }
}
