@import "colors.scss";

// Navigation
.container {
  flex-grow: 2;
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding-inline-start: 0;
  z-index: 2;
  overflow: hidden;
  margin: auto;
}

@media all and (max-width: 460px) {
  .container {
    display: none;
  }
}

.navItem {
  font-size: 1.1rem;
  font-weight: 500;
  color: $primary;
  text-decoration: none;
  transition: all 0.3s ease 0s;
  margin-left: 25px;
}

.navItem:hover {
  opacity: 0.6;
}

.navItem:active {
  color: $secondary;
}
