@import "colors.scss";

// Navigation
.container {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding-inline-start: 0;
  z-index: 2;
  overflow: hidden;
  margin: auto;
}

@media all and (max-width: 460px) {
  .container {
    display: none;
  }
}

.navItem {
  font-size: 1.1rem;
  font-weight: 500;
  color: $primary;
  text-decoration: none;
  transition: all 0.3s ease 0s;
  margin-left: 36px;
  letter-spacing: 0.1rem;
  transition: all .5s;
}







.container * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.container li {
  display: inline-block;
  list-style: outside none none;
}

.container a {
  padding: 0.3em 0;
  position: relative;
  text-decoration: none;
  display: inline-block;
}

.container a:before,
.container a:after {
  height: 3px;
  position: absolute;
  content: '';
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  background-color: $primary;
  width: 0;
}
.container a:before {
  top: 0;
  left: 0;
}
.container a:after {
  bottom: 0;
  right: 0;
}
.container a:hover,
.container .current a {
  color: #ffffff;
}
.container a:hover:before,
.container .current a:before,
.container a:hover:after,
.container .current a:after {
  width: 100%;
}