@import "colors.scss";

// Navigation
.container {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding-inline-start: 0;
  z-index: 2;
  overflow: hidden;
  margin: auto;
}

@media all and (max-width: 460px) {
  .container {
    display: none;
  }
}

.navItem {
  font-size: 1.1rem;
  font-weight: 500;
  color: $primary;
  text-decoration: none;
  transition: all 0.3s ease 0s;
  margin-left: 25px;
  letter-spacing: 0.1rem;
  transition: all .5s;
}

.navItem:hover {
  opacity: 0.6;
  
}

.itemActive {
  background: linear-gradient(
      to bottom, $primary 0%,
      $primary 100%
    );
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 4px 2px;
  text-decoration: none;
  transition: background-size .5s, color .5s .2s;
}
